body {
    color: black;
    background-color: silver;
    font-family: 'BhuTuka Expanded One', cursive;
}

h1,h3{
	color: Red; text-align: center; Background: #d35338;
}

table{
	border:  #bb8fce  5px solid;
	table-layout: fixed;
	width: 100%;
}
td{
	border: #e74c3c 1px solid;
	
}
